*{
    margin: 0;
    /* padding:0; */
}
body{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(230, 100, 14);
  padding: 10px;
}

li{
    padding: 4px;
}
a{
    padding: 20px;
   
}

h1{
    text-align: center;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 420px;
}
img {
    width: 40%;
    height: 100px;
    background-color: grey;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.caption {
    display: block;
}

.food-image{
    width: 40%;
    height: auto;
}